/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3rem;

  /*========== Colors ==========*/
  --hue: 174;
  --sat: 63%;
  --first-color: hsl(var(--hue), var(--sat), 40%);
  --first-color-alt: hsl(var(--hue), var(--sat), 36%);
  --title-color: hsl(var(--hue), 12%, 15%);
  --text-color: hsl(var(--hue), 8%, 35%);
  --body-color: hsl(var(--hue), 100%, 99%);
  --container-color: #FFF;

  /*========== Font and typography ==========*/
  --body-font: 'Poppins', sans-serif;
  --h1-font-size: 1.5rem;
  --normal-font-size: .938rem;
  --tiny-font-size: .625rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 968px) {
  :root {
    --h1-font-size: 2.25rem;
    --normal-font-size: 1rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.section {
  padding: 4.5rem 0 2rem;
}

.section__title {
  font-size: var(--h1-font-size);
  color: var(--title-color);
  text-align: center;
  margin-bottom: 1.5rem;
}

.section__height {
  height: 100vh;
}

/*=============== LAYOUT ===============*/
.container {
  max-width: 968px;
  margin-left: 1rem;
  margin-right: 1rem;
}


/*=============== WELCOME ===============*/
.welcome-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.welcome-page__logo {
  font-size: 3rem;
  margin-bottom: 1rem;
  opacity: 0;
  /* Start with zero opacity */
  transform: scale(0.8);
  /* Start with scaled down size */
  animation: logoAnimation 2s forwards;
  /* Animation properties */
}

.welcome-page__image {
  opacity: 0;
  /* Start with zero opacity */
  transform: scale(0.8);
  /* Start with scaled down size */
  animation: imageAnimation 2s forwards;
  /* Animation properties */
  margin-bottom: 20%;
}

@keyframes logoAnimation {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes imageAnimation {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}



/*=============== HEADER ===============*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--container-color);
  z-index: var(--z-fixed);
  transition: .4s;
}

/*=============== NAV ===============*/
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}



/*=============== CONTENT ===============*/
.content {
  min-height: 100vh;
  margin-top: 10%;
}

.nav__img {
  width: 70px;
  border-radius: 50%;
}

.nav__logo {
  color: var(--title-color);
  font-weight: 600;
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: var(--container-color);
    box-shadow: 0 -1px 12px hsla(var(--hue), var(--sat), 15%, 0.15);
    width: 100%;
    height: 4rem;
    padding: 0 1rem;
    display: grid;
    align-content: center;
    border-radius: 1.25rem 1.25rem 0 0;
    transition: .4s;
  }
}

.nav__list,
.nav__link {
  display: flex;
}

.nav__link {
  flex-direction: column;
  align-items: center;
  row-gap: 4px;
  color: var(--title-color);
  font-weight: 600;
}

.nav__list {
  justify-content: space-around;
}

.nav__name {
  font-size: var(--tiny-font-size);
  /* display: none;*/
  /* Minimalist design, hidden labels */
}

.nav__icon {
  font-size: 1.5rem;
}

/*Active link*/
.active-link {
  position: relative;
  color: var(--first-color);
  transition: .3s;
}

/* Minimalist design, active link */
/* .active-link::before{
  content: '';
  position: absolute;
  bottom: -.5rem;
  width: 4px;
  height: 4px;
  background-color: var(--first-color);
  border-radius: 50%;
} */

/* Change background header */
.scroll-header {
  box-shadow: 0 1px 12px hsla(var(--hue), var(--sat), 15%, 0.15);
}

/*=============== MEDIA QUERIES ===============*/
/* For small devices */
/* Remove if you choose, the minimalist design */
@media screen and (max-width: 320px) {
  .nav__name {
    display: none;
  }
}

/* For medium devices */
@media screen and (min-width: 576px) {
  .nav__list {
    justify-content: center;
    column-gap: 3rem;
  }
}

@media screen and (min-width: 767px) {
  body {
    margin: 0;
  }

  .section {
    padding: 7rem 0 2rem;
  }

  .nav {
    height: calc(var(--header-height) + 1.5rem);
    /* 4.5rem */
  }

  .nav__img {
    display: none;
  }

  .nav__icon {
    display: none;
  }

  .nav__name {
    font-size: var(--normal-font-size);
    /* display: block; */
    /* Minimalist design, visible labels */
  }

  .nav__link:hover {
    color: var(--first-color);
  }

  /* First design, remove if you choose the minimalist design */
  .active-link::before {
    content: '';
    position: absolute;
    bottom: -.75rem;
    width: 4px;
    height: 4px;
    background-color: var(--first-color);
    border-radius: 50%;
  }

  /* Minimalist design */
  /* .active-link::before{
      bottom: -.75rem;
  } */
}

/* For large devices */
@media screen and (min-width: 1024px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
}









/*  */
.btn {
  font-family: inherit;
  cursor: pointer;
  outline: 0;
  font-size: 1.05rem;
}

.text {
  opacity: 0.8;
}

.title {
  margin-top: 1rem;
  font-size: 1.7rem;
}

/*  */

.meal-wrapper {
  max-width: 1280px;
  margin: 50px auto;
  padding: 2rem;
  background: transparent;
  text-align: center;
  color: var(--title-color);
}

.meal-search {
  margin: 2rem 0;
}

.meal-search cite {
  font-size: 1rem;
}

.meal-search-box {
  margin: 1.2rem 0;
  display: flex;
  align-items: stretch;
}

.search-control,
.search-btn {
  width: 100%;
  margin-bottom: 3rem;
}

.search-control {
  padding: 0 1rem;
  font-size: 1.1rem;
  font-family: inherit;
  outline: 0;
  border: 1px solid var(--first-color);
  color: var(--first-color);
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
}

.search-control::placeholder {
  color: var(--first-color);
}

.search-btn {
  width: 55px;
  height: 55px;
  font-size: 1.8rem;
  background: var(--first-color);
  color: #fff;
  border: none;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  transition: all 0.4s linear;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
}

.search-btn:hover {
  background: var(--first-color-alt);
}

.meal-result {
  margin-top: 4rem;
}

#meal {
  margin: 2.4rem 0;
}

.meal-item {
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.79);
  margin: 2rem 0;
}

.meal-img img {
  width: 100%;
  display: block;
}

.meal-name {
  padding: 1.5rem 0.5rem;
}

.meal-name h3 {
  font-size: 1.4rem;
}

.recipe-btn {
  text-decoration: none;
  color: #fff;
  background: var(--first-color);
  font-weight: 500;
  font-size: 1.1rem;
  padding: 0.75rem 0;
  display: block;
  width: 175px;
  margin: 1rem auto;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  transition: all 0.4s linear;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
}

.recipe-btn:hover {
  background: var(--first-color-alt);
}

/* meal details */
.meal-details {
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  color: var(--first-color);
  background: white;
  border-radius: 1rem;
  border: 2px solid var(--first-color);
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  width: 60%;
  height: 70%;
  overflow-y: scroll;
  display: none;
  padding: 2rem 0;
}


.meal-details::-webkit-scrollbar {
  width: 10px;
}

.meal-details::-webkit-scrollbar-thumb {
  background: var(--first-color);
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}

.meal-details__content {
  margin: 2rem;
}

.meal-details__name {
  text-align: center;
  margin: 20px;
  font-size: large;
}

.meal-details__image {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

.meal-details__instructions {
  margin-bottom: 60px;
}

.meal-details__instructions li {
  margin: 10px;
}

.meal-details__instructions ul {
  margin-bottom: 50px;
}


.meal-details__close {
  position: fixed;
  right: 0;
  top: 0.5rem;
  font-size: 1.9rem;
  border: none;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.9;
}

/* Media Queries */

@media screen and (max-width: 768px) {
  .meal-details {
    width: 90%;
    height: 70%;
  }

  .meal-details__image {
    width: 50%;
  }
}

@media screen and (max-width: 576px) {
  .meal-details {
    width: 95%;
    height: 60%;
    bottom: 20rem;
  }

  .meal-details__image {
    width: 50%;
  }
}

/* js related */
.showRecipe {
  display: block;
}


.recipe-title {
  letter-spacing: 1px;
  padding-bottom: 1rem;
}

.recipe-category {
  background: #fff;
  font-weight: 600;
  color: var(--first-color);
  display: inline-block;
  padding: 0.2rem 0.5rem;
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
}

.recipe-category {
  background: #fff;
  font-weight: 600;
  color: var(--first-color);
  display: inline-block;
  padding: 0.2rem 0.5rem;
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
}

.recipe-instruct {
  padding: 1rem 0;
}

.recipe-meal-img img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin: 0 auto;
  display: block;
}

.recipe-link {
  margin: 1.4rem 0;
}

.recipe-link a {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 700;
  transition: all 0.4s linear;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
}

.recipe-link a:hover {
  opacity: 0.8;
}


/*  */
.notFound {
  grid-template-columns: 1fr !important;
  color: var(--first-color);
  font-size: 1.8rem;
  font-weight: 600;
  width: 100%;
}






/* Media Queries */
@media screen and (min-width: 600px) {
  .meal-search-box {
    width: 540px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  #meal {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  .meal-item {
    margin: 0;
  }

  .meal-details {
    width: 700px;
  }
}

@media screen and (min-width: 992px) {
  #meal {
    grid-template-columns: repeat(3, 1fr);
  }
}




.category-card {
  width: calc(50% - 20px);
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
}

.category-card img {
  max-width: 100%;
  height: auto;
}

.category-card h3 {
  margin-top: 10px;
}


/* Media Queries */
@media screen and (max-width: 768px) {
  .category-card {
    flex-basis: calc(50% - 20px);
  }

  .category-card img {
    max-width: 80%;
  }
}

@media screen and (max-width: 480px) {
  .category-card {
    flex-basis: calc(100% - 20px);
  }

  .category-card img {
    max-width: 60%;
  }
}

/*=============== MEAL CARD ===============*/
.meal-card {
  background-color: var(--container-color);
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.79);
  margin: 2rem 0;
  width: calc(33% - 20px);
  margin: 10px;
  padding: 10px;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
}

.meal-card img {
  align-content: center;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
  height: 20%;
  margin-bottom: 10px;
}

.meal-card-content {
  padding: 1.5rem;
}

.meal-card-title {
  font-size: 1.4rem;
  color: var(--title-color);
  margin-bottom: 0.5rem;
}

.meal-card-category {
  font-size: 0.9rem;
  color: var(--text-color);
  margin-bottom: 0.75rem;
}

.meal-card-description {
  font-size: 0.9rem;
  color: var(--text-color);
}

.meal-card-link {
  display: inline-block;
  margin-top: 1rem;
  font-weight: 600;
  color: var(--first-color);
  text-decoration: none;
  transition: color 0.3s;
}

.meal-card-link:hover {
  color: var(--first-color-alt);
}

/* Media Queries */
@media screen and (max-width: 768px) {
  .meal-card {
    width: 70%;
  }

  .meal-card img {
    max-width: 50%;
  }
}

@media screen and (max-width: 480px) {
  .meal-card {
    width: 70%;
  }

  .meal-card img {
    max-width: 50%;
  }
}

.nav__link .nav__icon .bx-heart {
  color: #000;
  /* Regular heart color */
}

.nav__link .nav__icon .bx-heart.clicked {
  color: red;
  /* Solid heart color */
}


#addToFavoriteButton {
  color: #ff3366;
  transition: color 0.3s ease;
  cursor: pointer;
}

#addToFavoriteButton {
  color: #ff0066;
}


.remove-btn {
  display: inline-block;
  padding: 5px 10px;
  background-color: #ff5050;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.remove-btn:hover {
  background-color: #e60000;
}


/* Footer Styles */
.footer {
  background-color: white;
  padding: 20px 0;
  transition: .4s;
}

.footer p {
  text-align: center;
  font-size: 14px;
  color: var(--first-color);
}